.input-producto{
    border: 1px solid #ccc;  
    border-radius: 4px; 
}
.body{
}
.combo{
    border: 1px solid black;  
    border-radius: 4px; 
}
.container{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.divider{
    width: 1vw;
}
.box{
    background-color: black;
    border: none; 
    color: white;
    border-radius: 8px;
    text-align: center;
    padding: 10px 20px;         
    border-radius: 4px;  
    width: 20%; 
}
.card {
    display: flex;
    flex-direction: column;
    background-color: white;     
    border-radius: 8px;          
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;           
    width: 350px;              
    text-align: left;  
    margin-bottom: 20px;       
}
.button{
    background-color: #007bff;  
    border: none;              
    color: white;             
    padding: 10px 20px;         
    border-radius: 4px;         
    cursor: pointer;
    width: 90%;            
    transition: background-color 0.3s ease; 
    margin-bottom: 10px;    
}
.buttonDiv{
    display: flex;
    justify-content: center;
}
.containerCard{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; 
}
.img{
    max-width: 350px;
    max-height: 200px;
}


@media (max-width: 768px) {

.containerCard{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.card{
    margin-bottom:'100px',
}
.container{
    display: flex;
    flex-direction: column;
}
.divider{
    height: 5vw;
}
.input-producto{
    width: 90%;
}
.combo{
    width: 90%;
}

}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 10px 20px;
}
.logo{
    width: 3vw;
}

.title{
    color: white;
    text-align: center;   
    font-weight: bold;
}
.left{
    display: flex;
    width: 8vw;
    justify-content: space-between;
}
.textContainer{
    display: flex;
    align-items: center;
}
.navbarRes{
 display:none;
}
.shop{
    display: flex;
}
@media (max-width: 768px) {

    .logo{
        width: 10vw;
    }
    .left{
        width: 100%;
    }
    .navbarRes{
        display:none;
        display: flex;
        justify-content: center;
        background-color: #333;
        padding: 10px 20px;
       }
    .shop{
        display: none;
    }


}

.footer{

    background-color: #333;
    color: white;
    text-align: center;
}
.icon {
    width: 30px;                         
    margin: 0 10px;                     
    transition: transform 0.3s ease;     
}
.links{
color: white;
text-decoration: none;

}


@media (max-width: 768px) {
.social{
    display: flex;
    flex-direction: column;
}
.icon{
    margin-bottom: 10px;
    width: 50px; 
}
}